*.swp
*.swo
tests/qemu/test-i386
tests/jit-paging/test-jit
tests/jit-paging/test-jit-smc
*.map
build/
**/images/*
!**/images/README.md
*.bak
*.orig
*.wasm
*.o
*.bin
*.img
*.iso
*.gz
*.xz
*.zst
*.tsbuildinfo
*.fixture
*.fuse_hidden*
*.DS_Store
node_modules/
__pycache__/
*.pyc
Cargo.lock
build-head
bios/seabios
bench-results
.devcontainer/devcontainer-lock.json
